// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      a.footer__logo(href="#")
        img(src="img/logotype-white.svg", alt="")
      a.footer__link(href="#") www.onduline.ru
      a.footer__link(href="#") Согласие на ОПД
      a.footer__link(href="#") Вступить в клуб Ондулин
      a.footer__link.footer__link--number(href="tel:+88005056980") 8 800 505 69 80
      .footer__social
        a(href="#")
          i.fab.fa-vk
        a(href="#") 
          i.fab.fa-facebook-f
        a(href="#") 
          i.fab.fa-odnoklassniki
        a(href="#") 
          i.fab.fa-youtube
      
      
// FOOTER :: END