// HEADER :: START
header.header
  .container(data-aos='fade-down')
    .header__wrapper
      a(href="homepage.html").header__logo
        .header__logo-img
          img(src="img/logotype.svg", alt="")
      .header__menu
        .header__teleport(data-teleport-target="mobile-nav")
        .header__links
          a.header__menu-link Cайт Ондулин
          a.header__menu-link Интернет-магазин Ондулин
        a.header__user(href="#" js-enter-btn)
          .header__user-img
            img(src="img/user.svg", alt="")
          p вход для
            br
            | подрядчиков
      .hamburger.hamburger--spin(js-hamburger)
        .hamburger-box
          .hamburger-inner

// HEADER :: END