// NAV :: BEGIN
div(js-teleport data-teleport-to="mobile-nav" data-teleport-condition="<788")
  nav.navigation
    .container
      .navigation__grid
        .navigation__left
          a(href="#") Мои данные
          a(href="#") Мои объекты
          a(href="#") Заказы
        .navigation__middle
          a(href="#") Обучение
          a(href="#") Начисление и списание
          a(href="#") Призы
        .navigation__right
          a(href="#")
            img(src="img/shop.svg", alt="")
            span.cif 0
            span товаров
          a(href="#")
            span Выйти
            img(src="img/logout.svg", alt="")
// NAV :: END