#thank.white-popup.mfp-with-anim.mfp-hide
  | You may put any HTML here. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.

#changeinfo.popup.mfp-with-anim.mfp-hide
  p.popup__title Редактировать описание
  form(action="#")
    .input-container
      input#ch1(type="text" name="name" placeholder="Название")
      label(for="ch1") Название
    .input-container
      textarea#ch2(name="name" placeholder="Описание")
      label(for="ch2") Описание
    input.btn(type="submit" value="Сохранить")

//- .popup__gallery
#popup1.popup-photo.mfp-with-anim.mfp-hide
  .popup-photo__title Монтаж крыши 120 м²
  .popup-photo__container
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-1.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-2.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-3.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-4.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-5.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-6.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-7.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-8.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
      // Add Pagination
      .swiper-pagination
      // Add Arrows
      .swiper-button-next
      .swiper-button-prev

  p.popup-photo__info ООО «Стройснаб» основано в 1994 году. С первых дней работы фирмы основным видом деятельности является обеспечение строительными и отделочными материалами организации и жителей города Новгорода и области. На сегодняшний день мы являемся одним из крупнейших предприятий в Новгородской области в сфере поставок строительных материалов.

#popup2.popup-photo.mfp-with-anim.mfp-hide
  .popup-photo__title Строительство загородного дома 2
  .popup-photo__container
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-4.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-5.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-6.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-7.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-8.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
      // Add Pagination
      .swiper-pagination
      // Add Arrows
      .swiper-button-next
      .swiper-button-prev
  p.popup-photo__info ООО «Стройснаб» основано в 1994 году. С первых дней работы фирмы основным видом деятельности является обеспечение строительными и отделочными материалами организации и жителей города Новгорода и области. На сегодняшний день мы являемся одним из крупнейших предприятий в Новгородской области в сфере поставок строительных материалов.

#popup3.popup-photo.mfp-with-anim.mfp-hide
  .popup-photo__title Проектирование кровли в деревянном доме 3
  .popup-photo__container
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-2.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-8.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-1.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-7.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-3.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-6.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
      // Add Pagination
      .swiper-pagination
      // Add Arrows
      .swiper-button-next
      .swiper-button-prev
  p.popup-photo__info ООО «Стройснаб» основано в 1994 году. С первых дней работы фирмы основным видом деятельности является обеспечение строительными и отделочными материалами организации и жителей города Новгорода и области. На сегодняшний день мы являемся одним из крупнейших предприятий в Новгородской области в сфере поставок строительных материалов.

#popup4.popup-photo.mfp-with-anim.mfp-hide(name="group1")
  .popup-photo__title Ремонтные работы
  .popup-photo__container
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-2.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-8.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-2.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
        .swiper-slide
          .popup-photo__item
            .popup-photo__image
              .popup-photo__buttons
                a.prev(href="#" js-prev-slide)
                a.next(href="#" js-next-slide)
              img(src="img/popup-image-6.jpg", alt="")
              .popup-photo__pin
                a(href="#")
                  span Черепица Ондулин
              .popup-photo__pin
                a(href="#")
                  span Одулин SMART
              .popup-photo__pin
                a(href="#")
                  span Ондувилла
              .popup-photo__pin
                a(href="#")
                  span Плёнки Ондутис
      // Add Pagination
      .swiper-pagination
      // Add Arrows
      .swiper-button-next
      .swiper-button-prev
  p.popup-photo__info ООО «Стройснаб» основано в 1994 году. С первых дней работы фирмы основным видом деятельности является обеспечение строительными и отделочными материалами организации и жителей города Новгорода и области. На сегодняшний день мы являемся одним из крупнейших предприятий в Новгородской области в сфере поставок строительных материалов.