#thank.white-popup.mfp-with-anim.mfp-hide
  | You may put any HTML here. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.

#changeinfo.popup.mfp-with-anim.mfp-hide
  p.popup__title Редактировать описание
  form(action="#")
    .input-container
      input#ch1(type="text" name="name" placeholder="Название")
      label(for="ch1") Название
    .input-container
      textarea#ch2(name="name" placeholder="Описание")
      label(for="ch2") Описание
    input.btn(type="submit" value="Сохранить")