---
title: 404 Not Found
---
extends shared/_layout
block header
block content

  // BEGIN SECTION :: 404
  section.page404
    .container
      img.page404__logo(src="img/logotype.svg", alt="" data-aos='fade-down')
      p.page404__title(data-aos='fade-down') Страница не найдена
      p.page404__desc(data-aos='fade-down') Неправильно набран адрес или такой страницы нет на сайте
      a.btn(data-aos='fade-down') Перейти на главную
      img.page404__image(src="img/404.png", alt="")
  
  // END SECTION :: 404

block footer