---
title: Onduline photo
---
extends shared/_layout
block content

  // BEGIN SECTION :: nav
  section.nav
  include components/_nav

  // END SECTION :: nav

  // BEGIN SECTION :: photo
  section.photo
    .container
      .photo__head(data-aos='fade-down')
        h1 Редактирование фото объекта
        p Ваш объект добавлен. Для завершения размещения объекта в вашем портфолио, пожалуйста, укажите используемые материалы на фото.
      .photo__item
        .photo__left
          .photo__image
            img(src="img/photo-1.jpg", alt="")
            .photo__pin.cherepitsa(js-draggable)
              p Черепица Ондулин
            .photo__pin.odulin-smart(js-draggable)
              p Одулин SMART
            .photo__pin.onduvilla(js-draggable)
              p Ондувилла
            .photo__pin.plenki-ondutis(js-draggable)
              p Плёнки Ондутис
              
        .photo__right
          .photo__grid
            .photo__row
              p Черепица Ондулин
              a(href="#" js-add-cherepitsa) поставить метку
              a(href="#" js-remove-cherepitsa) убрать метку
            .photo__row
              p Одулин SMART
              a(href="#" js-add-odulin-smart) поставить метку
              a(href="#" js-remove-odulin-smart) убрать метку
            .photo__row
              p Ондувилла
              a(href="#" js-add-onduvilla) поставить метку
              a(href="#" js-remove-onduvilla) убрать метку
            .photo__row
              p Плёнки Ондутис
              a(href="#" js-add-plenki-ondutis) поставить метку
              a(href="#" js-remove-plenki-ondutis) убрать метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__item.show-plenki-ondutis.show-onduvilla.show-odulin-smart.show-cherepitsa
        .photo__left
          .photo__image
            img(src="img/photo-2.jpg", alt="")
            .photo__pin.cherepitsa(js-draggable)
              p Черепица Ондулин
            .photo__pin.odulin-smart(js-draggable)
              p Одулин SMART
            .photo__pin.onduvilla(js-draggable)
              p Ондувилла
            .photo__pin.plenki-ondutis(js-draggable)
              p Плёнки Ондутис
        .photo__right
          .photo__grid
            .photo__row.delete-pin
              p Черепица Ондулин
              a(href="#" js-add-cherepitsa) поставить метку
              a(href="#" js-remove-cherepitsa) убрать метку
            .photo__row.delete-pin
              p Одулин SMART
              a(href="#" js-add-odulin-smart) поставить метку
              a(href="#" js-remove-odulin-smart) убрать метку
            .photo__row.delete-pin
              p Ондувилла
              a(href="#" js-add-onduvilla) поставить метку
              a(href="#" js-remove-onduvilla) убрать метку
            .photo__row.delete-pin
              p Плёнки Ондутис
              a(href="#" js-add-plenki-ondutis) поставить метку
              a(href="#" js-remove-plenki-ondutis) убрать метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__item
        .photo__left
          .photo__image
            img(src="img/photo-3.jpg", alt="")
            .photo__pin.cherepitsa(js-draggable)
              p Черепица Ондулин
            .photo__pin.odulin-smart(js-draggable)
              p Одулин SMART
            .photo__pin.onduvilla(js-draggable)
              p Ондувилла
            .photo__pin.plenki-ondutis(js-draggable)
              p Плёнки Ондутис
        .photo__right
          .photo__grid
            .photo__row
              p Черепица Ондулин
              a(href="#" js-add-cherepitsa) поставить метку
              a(href="#" js-remove-cherepitsa) убрать метку
            .photo__row
              p Одулин SMART
              a(href="#" js-add-odulin-smart) поставить метку
              a(href="#" js-remove-odulin-smart) убрать метку
            .photo__row
              p Ондувилла
              a(href="#" js-add-onduvilla) поставить метку
              a(href="#" js-remove-onduvilla) убрать метку
            .photo__row
              p Плёнки Ондутис
              a(href="#" js-add-plenki-ondutis) поставить метку
              a(href="#" js-remove-plenki-ondutis) убрать метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__item
        .photo__left
          .photo__image
            img(src="img/photo-4.jpg", alt="")
            .photo__pin.cherepitsa(js-draggable)
              p Черепица Ондулин
            .photo__pin.odulin-smart(js-draggable)
              p Одулин SMART
            .photo__pin.onduvilla(js-draggable)
              p Ондувилла
            .photo__pin.plenki-ondutis(js-draggable)
              p Плёнки Ондутис
        .photo__right
          .photo__grid
            .photo__row
              p Черепица Ондулин
              a(href="#" js-add-cherepitsa) поставить метку
              a(href="#" js-remove-cherepitsa) убрать метку
            .photo__row
              p Одулин SMART
              a(href="#" js-add-odulin-smart) поставить метку
              a(href="#" js-remove-odulin-smart) убрать метку
            .photo__row
              p Ондувилла
              a(href="#" js-add-onduvilla) поставить метку
              a(href="#" js-remove-onduvilla) убрать метку
            .photo__row
              p Плёнки Ондутис
              a(href="#" js-add-plenki-ondutis) поставить метку
              a(href="#" js-remove-plenki-ondutis) убрать метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__btn-middle
        a.btn(href="#") Сохранить фотографии
      
  
  // END SECTION :: photo