---
title: Onduline video
---
extends shared/_layout
block content

  // BEGIN SECTION :: nav
  section.nav
  include components/_nav

  // END SECTION :: nav

  // BEGIN SECTION :: video
  section.video
    .container
      .head(data-aos='fade-down')
        h1 Черепица Ондулин
      .video__container
        a.video__choose(href="#")
          span
          | Выбрать другую тему
        .video__grid
          .video__item.video__item--active
            .video__image
              img(src="img/video-1.jpg", alt="")
            .video__info
              p Технические характеристики листа Черепица Ондулин
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--success
            .video__image
              img(src="img/video-2.jpg", alt="")
            .video__info
              p Схема крепления листов Черепица Ондулин
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--success
            .video__image
              img(src="img/video-3.jpg", alt="")
            .video__info
              p Вариант оформления внутреннего излома кровли Черепица Ондулин
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--active
            .video__image
              img(src="img/video-4.jpg", alt="")
            .video__info
              p Вариант оформления внешнего излома кровли Черепица Ондулин
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--active
            .video__image
              img(src="img/video-5.jpg", alt="")
            .video__info
              p Вариант оформления ендовы кровли Черепица Ондулин
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--active
            .video__image
              img(src="img/video-6.jpg", alt="")
            .video__info
              p Вариант оформления щипца кровли Черепица Ондулин
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--success
            .video__image
              img(src="img/video-7.jpg", alt="")
            .video__info
              p Вариант оформления конька кровли Черепица Ондулин
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--active
            .video__image
              img(src="img/video-8.jpg", alt="")
            .video__info
              p Вариант оформления бокового примыкания кровли Ондулин к стене
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
          .video__item.video__item--active
            .video__image
              img(src="img/video-9.jpg", alt="")
            .video__info
              p Вариант оформления горизонтального примыкания кровли Ондулин к стене
            a.btn.active(href="#") Пройти тестирование
            a.btn.success(href="#") Тест сдан успешно
  
  // END SECTION :: video