---
title: Onduline zakaz
---
extends shared/_layout
block content

  // BEGIN SECTION :: nav
  section.nav

  // END SECTION :: nav

  // BEGIN SECTION :: order
  section.order
    .container
      .order__head(data-aos='fade-down')
        h1 Заказы с сайта
        .order__buttons
          a.btn.is-active(href="#" js-order-btn) Текущие
          a.btn(href="#" js-order-btn) Обработанные
      .order__item.order__item--head(data-aos='fade-down')
        .order__date
          p Дата
        .order__info
          p Запрос
        .order__emp
          p Заказчик
      .order__tab.is-active
        .order__item(data-aos='fade-up')
          .order__date
            p 21 сентября 2018
            a(href="#") текущий
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            a.doc(href="#") 
              img(src="img/doc.svg", alt="")
              span zadanie.docx
          .order__emp
            p.order__emp-title Александр
            a.mail(href="#") alex123@mail.ru
            a.phone(href="#") 8 903 123 45 67
        .order__item(data-aos='fade-up')
          .order__date
            p 14 сентября 2018
            a(href="#") текущий
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            //- a.doc(href="#") 
            //-   img(src="img/doc.svg", alt="")
            //-   span zadanie.docx
          .order__emp
            p.order__emp-title Евгений
            a.mail(href="#") evgeniy@mail.ru
            a.phone(href="#") 8 903 123 45 67
        .order__item(data-aos='fade-up')
          .order__date
            p 8 сентября 2018
            a(href="#") текущий
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            //- a.doc(href="#") 
            //-   img(src="img/doc.svg", alt="")
            //-   span zadanie.docx
          .order__emp
            p.order__emp-title Юлия
            a.mail(href="#") julia@mail.ru
            a.phone(href="#") 8 903 123 45 67
        .order__item(data-aos='fade-up')
          .order__date
            p 2 сентября 2018
            a(href="#") текущий
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            //- a.doc(href="#") 
            //-   img(src="img/doc.svg", alt="")
            //-   span zadanie.docx
          .order__emp
            p.order__emp-title Карина
            a.mail(href="#") Карина@mail.ru
            a.phone(href="#") 8 903 123 45 67
      .order__tab
        .order__item(data-aos='fade-up')
          .order__date
            p 21 сентября 2018
            a(href="#") обработан
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            a.doc(href="#") 
              img(src="img/doc.svg", alt="")
              span zadanie.docx
          .order__emp
            p.order__emp-title Александр
            a.mail(href="#") alex123@mail.ru
            a.phone(href="#") 8 903 123 45 67
        .order__item(data-aos='fade-up')
          .order__date
            p 14 сентября 2018
            a(href="#") обработан
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            //- a.doc(href="#") 
            //-   img(src="img/doc.svg", alt="")
            //-   span zadanie.docx
          .order__emp
            p.order__emp-title Евгений
            a.mail(href="#") evgeniy@mail.ru
            a.phone(href="#") 8 903 123 45 67
        .order__item(data-aos='fade-up')
          .order__date
            p 8 сентября 2018
            a(href="#") обработан
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            //- a.doc(href="#") 
            //-   img(src="img/doc.svg", alt="")
            //-   span zadanie.docx
          .order__emp
            p.order__emp-title Юлия
            a.mail(href="#") julia@mail.ru
            a.phone(href="#") 8 903 123 45 67
        .order__item(data-aos='fade-up')
          .order__date
            p 2 сентября 2018
            a(href="#") обработан
          .order__info
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            //- a.doc(href="#") 
            //-   img(src="img/doc.svg", alt="")
            //-   span zadanie.docx
          .order__emp
            p.order__emp-title Карина
            a.mail(href="#") Карина@mail.ru
            a.phone(href="#") 8 903 123 45 67
      
  
  // END SECTION :: order