---
title: Onduline confid
---
extends shared/_layout
block content

  //- // BEGIN SECTION :: nav
  //- section.nav

  // END SECTION :: nav

  // BEGIN SECTION :: confid
  section.confid
    .container
      .head(data-aos='fade-down')
        h1 Соглашение на обработку персональных данных
      .confid__info(data-aos='fade-down')
        p Персональные данные Покупателя обрабатываются в соответствии с ФЗ «О персональных данных» № 152-ФЗ и положениями настоящей оферты.
        .confid__grid
          .confid__item
            p Продавец предпринимает необходимые технические и организационные меры информационной безопасности, чтобы предотвратить утечку информации и свести такие риски к минимуму. Такие меры включают: использование брандмауэров, антивирусных средств, размещение носителей информации в защищенных серверных центрах, шифрование, трансляцию сетевых адресов и скрытие внутренней структуры сети Продавца, развертывание надлежащих систем и процедур управления правами доступа. Для защиты от случайной утраты и/или повреждения персональных данных используется резервное копирование данных. Для защиты конфиденциальности и безопасности при взаимодействии пользователей с сайтом используются стандартные для отрасли меры безопасности.
            p Акцептируя настоящую оферту, Покупатель выражает согласие и разрешает Продавцу обрабатывать свои персональные данные, в том числе фамилию, имя, адрес доставки, номер телефона, адрес электронной почты, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, блокирование, уничтожение персональных данных, для проведения маркетинговых программ, статистических исследований, а также для продвижения услуг на рынке путем осуществления прямых контактов с Покупателем с помощью различных средств связи, включая, но, не ограничиваясь: почтовая рассылка, электронная почта, телефон, факсимильная связь, сеть Интернет.
          .confid__item
            p Покупатель выражает согласие и разрешает Продавцу и его контрагентам обрабатывать персональные данные Покупателя, с помощью автоматизированных систем управления базами данных, а также иных программных средств, специально разработанных по поручению Продавца. Работа с такими системами осуществляется по предписанному Продавцом алгоритму (сбор, систематизация, накопление, хранение, уточнение, использование, блокирование, уничтожение).
            p Используемые способы обработки (включая, но, не ограничиваясь): автоматическая сверка почтовых кодов с базой кодов, автоматическая проверка написания названий улиц\населенных пунктов, уточнение данных с Покупателем путем телефонной, почтовой связи с Покупателем или с помощью контакта через сеть Интернет, сегментация базы по заданным критериям.
            p Покупатель вправе запросить у Продавца полную информацию о своих персональных данных, их обработке и использовании, а также потребовать исключения или исправления/дополнения неверных или неполных персональных данных, отправив соответствующий письменный запрос на имя Продавца на почтовый адрес. Данное Покупателем согласие на обработку его персональных данных является бессрочным и может быть отозвано посредством направления Покупателем письменного заявления в адрес Продавца на почтовый адрес.
        p Продавец не несет ответственности за сведения, предоставленные Покупателем на Сайте в общедоступной форме.
      
  
  // END SECTION :: confid