---
title: Onduline test success
---
extends shared/_layout
block content

  // BEGIN SECTION :: nav
  section.nav
  include components/_nav

  // END SECTION :: nav

  // BEGIN SECTION :: test
  section.test
    .container
      .head(data-aos='fade-down')
        h1 Тестирование: Как правильно укладывать черепицу Ондулин на 2-х скатную крышу
      .test__content(data-aos='fade-down')
        p.test__success
          span Поздравляем!
        p.test__info Вы успешно прошли тест, ответив правильно на 12 вопросов из 12!
        p.test__info Для получения сертификата вам необходимо успешно пройти все тесты по теме:
          span Черепица Онудлин
        a.test__link(href="#")
          span Вернуться к списку обучающих видео
  
  // END SECTION :: test
