---
title: Onduline test
---
extends shared/_layout
block content

  // BEGIN SECTION :: person
  section.person
    .container
      .person__breadcrumbs 
        a(href="#") Все исполнители
      .person__head(data-aos='fade-down')
        h1 ООО «СтройСнаб»
      .person__grid
        .person__left.person__left--about
          .person__image
            .person__image-container
              img(src="img/master-2.png", alt="")
            p Строительная компания
          .person__info
            .person__row
              p Основной регион:
              p Иркутск
            .person__row
              p Возможность выезда:
              p 150 км
            .person__row
              p Портфолио:
              a(href="#") 33 объекта с фото
            .person__contacts
              p.person__contacts-title Контакты
              .person__links
                a(href="#") +7 916 123-45-67, 
                a(href="#") +7 4859 230-105
              .person__links
                a.mail(href="#") stroysnab2005@yandex.ru
        .person__right
          .person__service
            p.person__service-title Услуги
            .person__list
              p Кровля под ключ
              p Продажа Одулин, Ондувилла
              p Монтажные работы

      .person__grid.person__grid--about
        .person__left
          p.person__title Описание
          p ООО «Стройснаб» основано в 1994 году. С первых дней работы фирмы основным видом деятельности является обеспечение строительными и отделочными материалами организации и жителей города Новгорода и области. На сегодняшний день мы являемся одним из крупнейших предприятий в Новгородской области в сфере поставок строительных материалов.
          p С 2003 года мы приступили к производству металлопластиковых окон и дверей. Надежность, удобство в эксплуатации, современный дизайн и возможность индивидуального заказа, звуко- и теплоизоляция, долговечность - все это современное металлопластиковое окно, выпускаемое фирмой «Стройснаб».
          p Потребителями услуг ООО "Стройснаб" являются более 1000 предприятий области. Учитывая быстро меняющуюся конъюнктуру рынка, организация оперативно перестраивает свою деятельность, использует гибкую систему скидок.
          p ООО "Стройснаб" так же оказывает спектр строительных услуг. Строительство зданий и сооружений 1 и 2 уровней ответственности в соответствии с государственным стандартом. (Лицензия от 8 декабря 2003 года; №Д 371190; рег. номер: ГС-2-53-02-27-05321039425-000832-1)
          p Мы всегда готовы к сотрудничеству, и рады помочь Вам в решении Ваших строительных проблем.
          a.btn(href="#" js-open-text) Читать далее
        .person__right
          .person__carousel(js-carousel)
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
            .person__img
              a(href="http://www.flagmankrov.ru/upload/iblock/222/222b3a0b23eb284d11454f083b03e4b2.jpg" data-effect="mfp-zoom-in" js-popup-image)
                img(src="img/cert.jpg", alt="")
          .pagingInfo 1/8

  
  // END SECTION :: person

  // BEGIN SECTION :: person-objects
  section.p-object
    .container
      .p-object__title Реализованные объекты
      .p-object__grid
        .p-object__item
          .p-object__image
            img(src="img/obj-1.jpg", alt="")
          .p-object__info
            p Монтаж крыши 120 м²
        .p-object__item
          .p-object__image
            img(src="img/obj-2.jpg", alt="")
          .p-object__info
            p  Строительство загородного дома 
        .p-object__item
          .p-object__image
            img(src="img/obj-3.jpg", alt="")
          .p-object__info
            p Проектирование кровли в деревянном доме 3 ряда текста Проектирование кровли в деревянном доме
        .p-object__item
          .p-object__image
            img(src="img/obj-4.jpg", alt="")
          .p-object__info
            p Ремонтные работы
        .p-object__item
          .p-object__image
            img(src="img/obj-5.jpg", alt="")
          .p-object__info
            p Монтаж крыши 120 м²
        .p-object__item
          .p-object__image
            img(src="img/obj-6.jpg", alt="")
          .p-object__info
            p Строительство загородного дома
        .p-object__item
          .p-object__image
            img(src="https://i.ytimg.com/vi/X8Z8okhkjv8/hqdefault.jpg", alt="")
          .p-object__info
            p  Проверка широкого изображения
      a.p-object__button.btn(href="#") Показать ещё
  // END SECTION :: person-objects

  // BEGIN SECTION :: person-form
  section.p-form
    .container
      .p-form__title Отправьте свой заказ подрядчику: 
        span
        | ООО «СтройСнаб»
      form.js-person(action="#")
        .p-form__grid
          .input-container
            input#f1(type="text" name="name" placeholder="Имя")
            label(for="f1") Имя
          .input-container
            input#f2(type="text" name="email" placeholder="Эл. почта")
            label(for="f2") Эл. почта
          .input-container
            input#f3(type="text" name="phone" placeholder="Телефон")
            label(for="f3") Телефон
        .input-container
          textarea#f4(type="text" name="area" placeholder="Вопрос")
          label(for="f4") Вопрос
        .input-container
          input(type="file")
        .p-form__button
          input.btn(type="submit", value="Отправить заявку подрядчику")
          p Отправляя форму, я подтверждаю своё
            br 
            a(href="#") согласие на обработку персональных данных

  // END SECTION :: person-form