---
title: Onduline my-object
---
extends shared/_layout
block content

  // BEGIN SECTION :: nav
  section.nav
  include components/_nav

  // END SECTION :: nav

  // BEGIN SECTION :: myobject
  section.myobject
    .container
      .head(data-aos='fade-down')
        h1 Фото объектов
      .myobject__grid
        .myobject__item
          .myobject__image
            a.no-barba.hover-link(href="#popup1" data-effect="mfp-zoom-in" js-popup-gallery)
              img(src="img/obj-1.jpg", alt="")
          .myobject__info
            p Монтаж крыши 120 м²
          .myobject__buttons
            a.btn.no-barba(href="#changeinfo" js-popup data-effect="mfp-zoom-in") 
              img(src="img/info.svg", alt="")
              img.hover(src="img/info-white.svg", alt="")
              span Редактировать описание
            a.btn(href="#") 
              img(src="img/info-image.svg", alt="")
              img.hover(src="img/info-image-white.svg", alt="")
              span Редактировать фото
        .myobject__item
          .myobject__image
            a.no-barba.hover-link(href="#popup2" data-effect="mfp-zoom-in" js-popup-gallery)
              img(src="img/obj-2.jpg", alt="")
          .myobject__info
            p  Строительство загородного дома 
          .myobject__buttons
            a.btn.no-barba(href="#changeinfo" js-popup data-effect="mfp-zoom-in") 
              img(src="img/info.svg", alt="")
              img.hover(src="img/info-white.svg", alt="")
              span Редактировать описание
            a.btn(href="#") 
              img(src="img/info-image.svg", alt="")
              img.hover(src="img/info-image-white.svg", alt="")
              span Редактировать фото
        .myobject__item
          .myobject__image
            a.no-barba.hover-link(href="#popup3" data-effect="mfp-zoom-in" js-popup-gallery)
              img(src="img/obj-3.jpg", alt="")
          .myobject__info
            p Проектирование кровли в деревянном доме 3 ряда текста Проектирование кровли в деревянном доме
          .myobject__buttons
            a.btn.no-barba(href="#changeinfo" js-popup data-effect="mfp-zoom-in") 
              img(src="img/info.svg", alt="")
              img.hover(src="img/info-white.svg", alt="")
              span Редактировать описание
            a.btn(href="#") 
              img(src="img/info-image.svg", alt="")
              img.hover(src="img/info-image-white.svg", alt="")
              span Редактировать фото
        .myobject__item
          .myobject__image
            a.no-barba.hover-link(href="#popup4" data-effect="mfp-zoom-in" js-popup-gallery)
              img(src="img/obj-4.jpg", alt="")
          .myobject__info
            p Ремонтные работы
          .myobject__buttons
            a.btn.no-barba(href="#changeinfo" js-popup data-effect="mfp-zoom-in") 
              img(src="img/info.svg", alt="")
              img.hover(src="img/info-white.svg", alt="")
              span Редактировать описание
            a.btn(href="#") 
              img(src="img/info-image.svg", alt="")
              img.hover(src="img/info-image-white.svg", alt="")
              span Редактировать фото
        .myobject__item
          .myobject__image
            a.no-barba.hover-link(href="#popup1" data-effect="mfp-zoom-in" js-popup-gallery)
              img(src="img/obj-5.jpg", alt="")
          .myobject__info
            p Монтаж крыши 120 м²
          .myobject__buttons
            a.btn.no-barba(href="#changeinfo" js-popup data-effect="mfp-zoom-in") 
              img(src="img/info.svg", alt="")
              img.hover(src="img/info-white.svg", alt="")
              span Редактировать описание
            a.btn(href="#") 
              img(src="img/info-image.svg", alt="")
              img.hover(src="img/info-image-white.svg", alt="")
              span Редактировать фото
        .myobject__item
          .myobject__image
            a.no-barba.hover-link(href="#popup2" data-effect="mfp-zoom-in" js-popup-gallery)
              img(src="img/obj-6.jpg", alt="")
          .myobject__info
            p Строительство загородного дома
          .myobject__buttons
            a.btn.no-barba(href="#changeinfo" js-popup data-effect="mfp-zoom-in") 
              img(src="img/info.svg", alt="")
              img.hover(src="img/info-white.svg", alt="")
              span Редактировать описание
            a.btn(href="#") 
              img(src="img/info-image.svg", alt="")
              img.hover(src="img/info-image-white.svg", alt="")
              span Редактировать фото
        .myobject__item
          .myobject__image
            a.no-barba.hover-link(href="#popup3" data-effect="mfp-zoom-in" js-popup-gallery)
              img(src="https://i.ytimg.com/vi/X8Z8okhkjv8/hqdefault.jpg", alt="")
          .myobject__info
            p  Проверка широкого изображения
          .myobject__buttons
            a.btn.no-barba(href="#changeinfo" js-popup data-effect="mfp-zoom-in") 
              img(src="img/info.svg", alt="")
              img.hover(src="img/info-white.svg", alt="")
              span Редактировать описание
            a.btn(href="#") 
              img(src="img/info-image.svg", alt="")
              img.hover(src="img/info-image-white.svg", alt="")
              span Редактировать фото
        .myobject__item
          a.myobject__link(href="#")
            span +
            span.hover Добавить
              br
              | объект
  
  
  // END SECTION :: myobject