---
title: Onduline photo
---
extends shared/_layout
block content

  // BEGIN SECTION :: nav
  section.nav

  // END SECTION :: nav

  // BEGIN SECTION :: photo
  section.photo
    .container
      .photo__head(data-aos='fade-down')
        h1 Редактирование фото объекта
        p Ваш объект добавлен. Для завершения размещения объекта в вашем портфолио, пожалуйста, укажите используемые материалы на фото.
      .photo__item
        .photo__left
          .photo__image
            img(src="img/photo-1.jpg", alt="")
        .photo__right
          .photo__grid
            .photo__row
              p Черепица Ондулин
              a(href="#") поставить метку
            .photo__row
              p Одулин SMART
              a(href="#") поставить метку
            .photo__row
              p Ондувилла
              a(href="#") поставить метку
            .photo__row
              p Плёнки Ондутис
              a(href="#") поставить метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__item
        .photo__left
          .photo__image
            img(src="img/photo-2.jpg", alt="")
        .photo__right
          .photo__grid
            .photo__row
              p Черепица Ондулин
              a(href="#") поставить метку
            .photo__row
              p Одулин SMART
              a(href="#") поставить метку
            .photo__row
              p Ондувилла
              a(href="#") поставить метку
            .photo__row
              p Плёнки Ондутис
              a(href="#") поставить метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__item
        .photo__left
          .photo__image
            img(src="img/photo-3.jpg", alt="")
        .photo__right
          .photo__grid
            .photo__row
              p Черепица Ондулин
              a(href="#") поставить метку
            .photo__row
              p Одулин SMART
              a(href="#") поставить метку
            .photo__row
              p Ондувилла
              a(href="#") поставить метку
            .photo__row
              p Плёнки Ондутис
              a(href="#") поставить метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__item
        .photo__left
          .photo__image
            img(src="img/photo-4.jpg", alt="")
        .photo__right
          .photo__grid
            .photo__row
              p Черепица Ондулин
              a(href="#") поставить метку
            .photo__row
              p Одулин SMART
              a(href="#") поставить метку
            .photo__row
              p Ондувилла
              a(href="#") поставить метку
            .photo__row
              p Плёнки Ондутис
              a(href="#") поставить метку
            .photo__button
              a.btn(href="#") Сделать фото главным
              a.btn(href="#") Удалить фото
      .photo__btn-middle
        a.btn(href="#") Сохранить фотографии
      
  
  // END SECTION :: photo