.page404
  max-width: 1920px
  width: 100%
  margin: 0 auto
  position: relative
  &__logo
    margin-top: 84px
    width: 173px
    height: auto
  &__title
    font-size: 36px
    color: $fontColor
    margin-top: 67px
  &__desc
    font-size: 14px
    color: $fontColor
    margin-top: 23px
  .btn
    margin-top: 66px
    padding: 18px
    max-width: 224px
    width: 100%
  &__image
    position: absolute
    top: -110px
    right: -220px
    height: 110vh
    width: 72%

+r($tablet)
  .page404
    &__logo
      margin-top: 32px
      position: relative
      z-index: 2
    &__title
      font-size: 24px
      margin-top: 41px
      position: relative
      z-index: 2
    &__desc
      position: relative
      z-index: 2
    .btn
      margin-top: 52px
      position: relative
      z-index: 2
    &__image
      height: auto !important
      width: 120%
      max-width: 600px
      right: -100px
      top: 100px
    
+r($mobile)
  .page404
    &__image
      height: auto !important
      width: 120%
      max-width: 600px
      right: auto
      left: 50%
      top: 230px
      transform: translateX(-50%)
